.SignUp {
  background-color: #1F1646;

  height: 100vh;

  display: flex;

  align-items: center;
  justify-content: center;
}

.SignUpContainer {
  background-color: #ECE9F2;
  background-size: cover;
  
  font-size: 16px;
}

.SignUpLeftContainer {
  background-image: url('../../Assets/Images/Login-Background.svg');
  background-size: cover;
}

.SignUpRightContainer {
  background-color: #FFFFFF;
 
  box-shadow: -2px 0px 12px 8px rgba(0, 0, 0, 0.2);

  text-align: center;

  padding: 80px 50px;
}

.SignUpStep0Container {
  transition: 0.4s;

  padding: 2rem 0 6rem 0;

}

.SignUpStep1Container {
  transition: 0.4s;
}

.SignUpTitle {
  font-size: 32px;
  font-weight: bold;
  color: #1F1646;
}

.SignUpSubTitle {
  font-size: 14px;
  color: #999999;
}

.SignUpLabel {
  font-size: 16px;
  font-weight: bold; 

  float: left ;
}


.SignUpInputsContainer {
  margin: 40px 0 20px 0;

}

.SignUpInputContainer {
  margin: 20px;
}


.SignUpInput {
  background-color:#EBEBED;

  border-radius: 25px;
  border-width: 0px;
 
  color: #999999;
  font-size: 0.875rem;
}

.SignUpBackButton {
  background-color: #1F1646;

  border-radius: 40px;


  font-size: 1rem;
  font-weight: bold;

  padding: auto 10px;
  margin: 1rem;
}

.SignUpBackButton:hover {
  background-color: #ffffff;
  color: #1F1646;
  
  border: 1px solid;
  border-color: #1F1646;
  border-radius: 40px;
}

.SignUpButton {
  background: linear-gradient(90deg, rgba(76,93,213,0.7952557732077206) 58%, rgba(105,72,142,0.8008580141040791) 100%);

  border-radius: 40px;

  font-size: 16px;
  font-weight: 700;

  padding: auto 10px;
  margin: 1rem;

  width: 75%;
}

.SignUpSocialButton {
  background-color: #FFFFFF;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);

  align-items: center;
  font-weight: bold;
  font-size: 16px;

  color: #1F1646;

  border-radius: 30px;
  border-width: 0px;

  margin: 1rem;
  padding: auto 10px;

  width: 75%;

  transition: 0.4s;
}

.SignUpSocialButton:hover {
  background-color: #1F1646;
}

.SignUpSocialButtonIcon {
  width: 1rem;
  height: 1rem;
  margin-right: 10px;
}

.SignUpCreateAccountContainer {
  font-size: 14px;
}

.SignUpCreateAccountContainerLink {
  text-decoration: none;
}
