.Card { 
  border-width: 0px;
  border-radius: 16px;  
  box-shadow: -2px 2px 8px 4px rgba(0, 0, 0, 0.1);

  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 1.25rem ;

  text-align: center;
}

.CardSignUpImage {
    text-align: center;
    display: block;
    
    justify-content: center;
    align-items: center;

    margin: auto;

    width: 60%;
}

.CardTitle {
  color: #090446;
  font-size: 1.17em;
  font-weight: bold;

}

.CardText {
  font-size: 1em;
  font-weight: 600;
}

.CardButton {
  background-color: #0000;

  font-size: 1em;
  font-weight: bold;
  color: #F81735;

  padding: 0.625rem 1.125rem;

  border-radius: 1px solid;
  border-color: #F81735;

  transition: 0.4s;
}

.CardButton:hover {
  background-color: #F81735;

  border-color: #F81735;
}