.CheckBoxContainer {
  background-color: #EBEBED;
  
  display: flex;

  align-items: center;
  
  padding: 8px;
  margin: 10px 0;

  border: 0px solid;
  border-radius: 25px;

  cursor: pointer;
}

.CheckBoxContainer:hover {
  background-color: #d1d1d1;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
}


input[type="checkbox"] {
  background-color: #EBEBED;
  border-radius: 100% !important;

  border-color: #69488E;
  border-width: 2px;

  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #69488E;

  border-radius: 100%;
  border-color: #69488E;
  
  cursor: pointer;
}

.CheckBoxChecked {
  border-radius: 25px;
}

.CheckBox {
  margin-right: 20px;
}

.CheckBoxLabel {

  font-size: 12px;
}