.Footer {
  background-color: #1d1645;
  color: #F4F3F8;

  font-size: 1rem;
  padding: 20px 0;

  text-align: center;
  justify-content: center;
}

.DivFooterWave {
  background-image: url('../../Assets/Images/seventh-wave.svg');
  background-size: cover;
  background-position: inherit;

  width: 100%;
  height: 300px;
}

.Isotipo {
  width: 50%;
}

.TextContainer {
  text-align: left;
}

.FooterDivider {

  background-color: #F4F3F8;
  height: 2px;

  margin: 20px;
}

.DownSectionContainer {
  align-items: center;
}

.TermFooter {
  color: #F4F3F8;
  
  margin-left: 20px;
  text-decoration: none;

  transition: 0.2s;
}

.TermFooter:hover {
  color: #F81735;
}

.FooterFlagIconContaier {

}

.FooterFlagIcon {
  width: 2.5rem;
  height: 2.5rem;

  margin: 0.5rem
}

.SocialIconFooter {
  font-size: 20px;
  margin-right: 10px;
}

