.NavBar {
  color: #F4F3F8;
  position: fixed;

  top: 0;

  width: 100vw;

  padding: 1.25rem;

  z-index: 99999;

  transition: 0.4s;
}

.NavBarSolid {
  background-color: #100935;
}

.NavBarContainer {
  align-items: center;
  text-align: center;
} 

.NavBarImage {
  width: 40%;
}

.NavBarItem {
  color: #F4F3F8;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;

  transition: 0.4s;
}

.NavBarItem:hover{
  color: #F81735;
}

.NavBarButton {
  background-color: #F81735;

  padding: 0.625rem 1.125rem;
  
  font-size: 1rem;
  font-weight: bold;

  color: #F4F3F8;
  
  border: 1px solid;
  border-color: #F81735;
  border-radius: 10px;

  transition: 0.4s;
}

.NavBarButton:hover {
  background-color: #0000;
  color: #F81735;

  border: 1px solid;
}

.NavBarIcon {
  width: 2rem;
  margin: 0.25rem;
}

.NavBarIconText {
  font-size: 0.75rem;
  font-weight: bold;
}

.NavBarAvatar {
  background-image: url('https://icons-for-free.com/iconfiles/png/512/female+person+user+woman+young+icon-1320196266256009072.png');
  background-size: cover;

  border-radius: 100%;

  width: 3rem;
  height: 3rem;

  margin: 0 auto;
  padding: 10px;

  position: relative;
}

.NavBarAvatar:focus {
  border: 2px solid #969696;
}

.NavBarAvatarDialogDivider {
  background-color: #969696;
  width: 85%;

  margin: 0 auto;
  height: 1px;
}

.NavBarAvatarDialog {
  z-index: 999999;
  position: fixed;
  
  text-align: right;

  box-shadow: -2px -2px 14px 8px rgba(0, 0, 0, 0.2);
  
  border: 1px solid #100935;
  border-radius: 0.5rem;

  background-color: #ffffff;

  margin: 0.5rem;
  padding: 0.5rem;

  color: #100935;

  width: 15rem;
}

.NavBarAvatarIcon {
  margin-left: 0.5rem;

  width: 1rem;
  color: #100935;
}

.NavBarAvatarText {
  margin: 0.5rem;
}

