.SearchBar {
  
}

.SearchBarContainer {
  background-color: #fdfdfd;

  height: 5rem;

  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 1.25rem;

  font-size: 0.875rem;
  color: #5E5E5E;

}

.SearchBarLabel {
  font-weight: bold;
  color: #1F1646;
}

/* === Buttons === */
.SearchBarButton {
  padding: 1rem;
  
  transition: 0.2s;
}

.SearchBarButton:hover {
  padding: 1.2rem 1.4rem;
  margin: 0 0.25rem;

  border: 0px;
  border-radius: 6rem;

  background-color: #eeeeee;

}

.Divider {
  background-color: #e4e4e4;
  width: 2px;
  height: 60%;
}

.SearchIconContainer {
  transition: 0.4s;
}

.SearchIconContainer:hover {
  transform: scale(1.3);
}

.SearchIcon {
  color: #1F1646;
  
  width: 2rem;
  height: 2rem;
}

/* ++++++++++++++ */

.SearchBarPanelEnabled {
  background-color: #fdfdfd;

  
  width: 100%;
  height: 5rem;

  border-radius: 20px;

  display: flex;

  align-items: center;
  justify-content: space-around;

  text-align: start;

  margin: 1.25rem;

  font-size: 0.875rem;
}

.SearchBarPanelDiseable {
  display: none;
}

