.StatusTracker {
  border-radius: 2rem;
  
  box-shadow: -1px -1px 8px 4px rgba(0, 0, 0, 0.1);

  padding: 2rem;

}

/* ======================= */
.StatusTrackerContainer {
  display: flex;

  justify-content: center;
  align-items: center;
}


.StatusTrackerTitle {
  font-weight: bold;

  margin-bottom: 1rem;
}


.StatusTrackerText {
  color: #1d1645;
  font-weight: bold;

  display: flex;
  align-items: center;
}


/* ======================= */
.StatusTrackerIndicator {
  width: 3rem;
  height: 3rem;
  
  border-radius: 100%;

  border: 1px solid;
  border-color: #1d1645;
  border-width: 3px;

  margin: 0 auto;
  position: relative;
}


.StatusTrackerIndicatorCheked {
  background-color: #4CAF50;
}


.StatusTrackerDivider {
  background-color: #1d1645;
  width: 3px;
  height: 4rem;
  margin: 0 auto;
  position: relative;
}