#FirstSectionLanding{
  height: calc(100vh - 76px);

  background-image: url('../Assets/Images/Header-Background.jpg');
  background-position: center;
  background-size: cover;

  padding-top: 113px;

  position: relative;
}

#ThirdSectionLanding{
  background-color: #F4F3F8;
}

#FourthSectionLanding {
  padding-top: 250px
}

#FifthSectionLanding {
  background-color: #1d1645;
}

#SixthSectionLanding {
  background-color: #F4F3F8;
}

#SeventhSectionLanding {
  background-image: url('../Assets/Images/Rocket.png');
  background-size: cover;
  background-position: bottom;
  position: relative;

  height: 90vh;
}

.WavePaddingContainer {
  padding-top: 250px
}

.FirstSectionText {
  color: #F4F3F8;

  font-size: 32px;
  font-weight: bold;

  margin: 50px 0;
}


.DivWave {
  background-image: url('../Assets/Images/wave.svg');
  background-position: bottom;
  background-size: cover;

  width: 100%;
  height: 250px;

  position: absolute;
  bottom: 0;
  left: 0;
}

.DivSecondWave {
  background-image: url('../Assets/Images/second-wave.svg');
}

.DivThirdWave {
  background-image: url('../Assets/Images/third-wave.svg');
}

.DivFourthWave {
  background-image: url('../Assets/Images/fourth-wave.svg');
  z-index: 100;
}

.DivFifthWave {
  background-image: url('../Assets/Images/fifth-wave.svg');
  height: 250px;
  background-size: cover;
}

.DivSixthWave{
  background-image: url('../Assets/Images/sixth-wave.svg');
  background-size: cover;
  background-position: bottom;

  height: 200px;
}

.Bottom-Auto {
  bottom: auto;
}

#imageWave {
  position: relative;
  z-index: 200;
}

.LandingFirstButton {
  background-color: #F81735;

  padding: 12px 16px;
  margin: 0 25px;
  
  font-size: 18px;
  font-weight: bold;

  text-align: center;
  letter-spacing: 0px;

  color: #F4F3F8;
  
  border: 1px solid;
  border-color: #F81735;
  border-radius: 10px;

  transition: 0.4s;
}

.LandingFirstButton:hover {
  background-color: #0000;
  color: #F81735;

  border: 1px solid;
}


/*Para la segunda secci贸n del landing page*/
.MisionTitleLanding {

  color: #090446;

  font-size: 28px;
  font-weight: bold;
  
  margin: 0;
  text-align: center;
}

.SecondSectionText {
  margin: 30px 0;
  font-size: 18px;
  text-align: left;
}

.LandingImageVideo {
  display: flex;
  justify-content: center;
}

.ImageVideo {
  width: 50%;
  margin: auto;
  display: block;
}

/*Para la tercera secci贸n del landing page*/
.LandingTitleThirdSection {
  text-align: center;
  color: #090446;
  
  font-size: 30px;
  font-weight: bold;
}

.LandingSubTitleThirdSection {
  font-size: 20px;
  color: #A8A9AD ;

}

.LandingH3TitleThirdSection {

  margin: 20px 0;
  font-weight: bold;
  font-size: 20px;
  color: #090446;
}

.LandingImageThirdSection {
  width: 60%;
  float: right;
}

.LandingSecondImageThirdSection {
  float: left;
}


.LandingSecondButton {
  background-color: #0000;

  padding: 12px 16px;
  margin: 20px 0;

  font-size: 20px;

  text-align: left;
  letter-spacing: 0px;

  color: #090446;

  
  border-color: #090446;
  border: 4px solid;
  border-radius: 10px;

  transition: 0.4s;
}

.LandingSecondButton:hover{
  background-color: #090446;
  border-color: #090446;
  color: #F4F3F8;

}



/*Para la cuarta secci贸n del landing page*/

.LandingBenefitContainer {
  display: flex;

  color: #090446;
  font-size: 18px;

  align-items: center;

 
  justify-content: center;
}

.LandingNumberBenefitContainer {
  width: 3vw;
}

.LandingImageBenefitContainer {
  width: 30%;
}


/*Para la quinta secci贸n del landing page*/
.VideoLanding {

}