.SignUp  {
  background-image: url('../Assets/Images/SignUp-Background.svg');
  background-position: bottom;
  background-size: cover;
  
  align-items: center;
  justify-content: center;
}

.SignUpContainer {
  padding: 6.25rem 0;
}

.SignUpTitle {
  color: #F81735;
  
  font-size: 2.375rem;
  font-weight: bold;
  text-align: center;

  margin: 1.25rem;
}